---
import CustomImage from './CustomImage.astro'
import Typography from './Typography.astro'
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import Icon from './icon/Icon.astro';
import type { CollectionEntry } from 'astro:content';

const pageLang = getLangFromUrl(Astro.url);
const t = useTranslations(pageLang);

interface Props {
  project: CollectionEntry<'projects'> & { projectHref: string }
}

const {
  project
} = Astro.props

const {
  data: {
    mockup,
    mockupAlt,
    projectName,
    excerpt,
  },
  slug,
  projectHref,
} = project
---

<div>
  <CustomImage
    mobileImgUrl={mockup}
    desktopImgUrl={mockup}
    alt={mockupAlt}
  />
  <Typography as="h3" class="projectCard__heading">
    {projectName}
  </Typography>
  <Typography as="p" class="projectCard__excerpt">
    {excerpt}
  </Typography>
  <a
    href={projectHref}
    class="projectCard__link"
  >
    <figure>
      <Icon variant='RightArrow' />
    </figure>
    <span>{t("projects.seeProjectLabel")}</span>
  </a>
</div>

<style lang="scss">
  .projectCard {

    &__heading {
      margin: rem(8) 0 rem(4);
    }

    &__excerpt {
      margin-bottom: rem(4);
    }

    &__link {
      display: flex;
      position: relative;
      gap: rem(8);
      align-items: center;
      text-decoration: none;
      line-height: 1;
      width: fit-content;
      color: inherit;
      transition: gap 200ms ease;
      padding-right: 10px;
      overflow: visible;

      > * {
        position: relative;
      }

      figure {
        transition: padding-left 200ms ease-out;
      }

      &:hover, &:focus {
        gap: rem(12);
        figure {
          padding-left: 10px;
        }
      }

      &:focus {
        outline: 1px solid $neutral-white;
      }
    }
  }
</style>